
body {
  background:#f7f7f7;
 
}
header {
  border-bottom: 1px solid #f2f2f2;
}
.body {
  margin: auto 50px;
  background: white;
}
.absolute {
  position: absolute;
}
.logo {
  background: url(../../images/logo.svg);
  height: 34px;padding: 0;
  padding-top: 0px;
width: 100%;
display: grid;
padding-top: 220px;
background: transparent;
width: 130px;
background-repeat: no-repeat;
background-size: contain;
}
.nav { 
    height: 50px;
    width: 100%;
    position: relative;
  }
   
  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 24px;

  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 24px;
  }
   
  .nav > .nav-links > a {
    display: inline-block;
    padding: 36px 16px;
    color: initial;
    font-size: 16px;
    font-weight: bold;
}
  .nav > .nav-btn,
  .nav > #nav-check {
    display: none;
  }

  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
width: 50px;
height: 50px;
padding: 33px;
margin-right: 24px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      z-index: 1000;
      width: 100%;
      background-color: #FFF;
      height: 0px;
      transition: all 0.0s ease-in;
      overflow-y: hidden;
      top: 79px;
      left: 0px;
  }
    .nav > .nav-links > a {
      display: block;
      color: black !important;
      width: 100%;
      padding: 15px 24px;
      font-size: 18px;
      font-weight: 300;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}
.hero {
  flex-direction: row;
  height: inherit;
  padding-bottom: 20px;
  text-align: left;
  margin-bottom: 64px;
  margin-top: 64px;
  padding-top: 20px;
}


.hero-max-width-sub {
  font-size: 18px;
}

.background-gray {
  background: #f2f2f2;
}

.background-white {
  background: #FFF;
}



.image-blog {
  width: 100%;
  height: 960px;
  object-fit: cover;
}

.image-category {
  height: 110px;
  object-fit: cover;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.training-image-category {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;

}

.cover-category {
  height: auto;
}

.name-category {
  text-align: left;
  font-size: 74px;
  color: black;
  padding: 24px;
  display: inline;
  background: white;
}

.featured {
    height: 230px;
    object-fit: cover;
    width: 100%;
    filter: saturate(1.6);

}
.featured-recipes {
  height: 230px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  filter: saturate(1.5);
}


.float-right {
  float: right;
}

.nowrap {
  white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow: hidden;
}

.relative {
  position: relative;
}

.right-hero {
  transform: rotate(-90deg);
display: block;
margin-top: 0;
height: auto;
width: 0;
position: fixed;
}