
body {
  background: #FFF;
}
.logo {
  background: url(../../images/logo.svg);
  height: 34px;
width: 130px;
background-repeat: no-repeat;
background-size: contain;
}
.nav {
    height: 50px;
    width: 100%;
    position: relative;
  }
   
  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 24px;

  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
   
  .nav > .nav-links > a {
    display: inline-block;
    padding: 33px 15px;
    color: initial;
    font-size: 16px;
    font-weight: bold;
}
  .nav > .nav-btn,
  .nav > #nav-check {
    display: none;
  }

  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
width: 50px;
height: 50px;
padding: 24px;
margin-right: 24px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      z-index: 1000;
      width: 100%;
      background-color: #FFF;
      height: 0px;
      transition: all 0.0s ease-in;
      overflow-y: hidden;
      top: 79px;
      left: 0px;
  }
    .nav > .nav-links > a {
      display: block;
      color: black !important;
      width: 100%;
      padding: 15px 24px;
      font-size: 18px;
      font-weight: 300;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}
.hero {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: inherit;
  padding-top: 116px;
  padding-bottom: 116px;
  text-align: left;
  background-color: #ff75710d;
  margin-bottom: 64px;
}


.hero-max-width-sub {
  font-size: 18px;
}

.background-gray {
  background: #f5f5f5;
}

.background-white {
  background: #FFF;
}



.image-blog {
  width: 100%;
  height: 960px;
  object-fit: cover;
}

.image-category {
  height: 110px;
  object-fit: cover;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.training-image-category {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;

}

.cover-category {
  height: auto;
}

.name-category {
  text-align: left;
  font-size: 74px;
  color: black;
  padding: 24px;
  display: inline;
  background: white;
}