.button-submit {
  position: relative;
  display: inline-block;
  color: #e7f1fc;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  background-color: #024c90;
  border-color: #024c90;
  font-size: 16px;
  line-height: 22px;
  line-height: 1.5;
  padding: 14px !important;
  width: 100%;
  margin: 0 0 24px;
  border-radius: 5rem !important;

}

.button-google {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: bold;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  background-color: #fff;
  border-color: #fff;
  font-size: 16px;
  line-height: 22px;
  line-height: 1.5;
  padding: 14px !important;
  width: auto;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/G-on-white.svg) 16px center no-repeat;
      background-color: rgba(0, 0, 0, 0);
  border: 1px solid #f5f5f5;
  margin: 0 0 24px;
  background-color: #fff;
  border-radius: 5rem !important;
}

.button-user {
  background: #c9ddd35e;
  padding: 16px 32px !important;
  margin-left: 16px;
  border-radius: 5rem;
  color: #0f886f !important;

}



.button-bad {
  background: #cf53642b;
  padding: 12px 26px !important;
  margin-left: 16px;
  border-radius: 5rem;
  color: #cf5364 !important;
  border: transparent;
}

.button-exit {
  background: #90a9c2;
  padding: 12px 26px !important;
  margin-left: 16px;
  border-radius: 5rem;
  color: #FFF !important;
  border: transparent;
}
