.button-submit {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  background-color: #2f7de1;
  border-color: #2f7de1;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 22px;
  line-height: 1.5;
  padding: 14px !important;
  width: 100%;
  margin: 0 0 24px;
  border-radius: 5rem !important;

}

.button-google {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: bold;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 22px;
  line-height: 1.5;
  padding: 14px !important;
  width: auto;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/G-on-white.svg) 16px center no-repeat;
      background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e5edec;
  margin: 0 0 24px;
  background-color: #fff;
  border-radius: 5rem !important;
}

.button-user {
  background: #2f7de121;
padding: 16px 32px !important;
margin-left: 16px;
border-radius: 5rem;
color: #2f7de1 !important;

}





