@font-face {
  font-family: "hindvadodara", sans-serif;
  src: url(../fonts/hindvadodara-regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "hindvadodara-medium", sans-serif;
  src: url(../fonts/hindvadodara-medium.ttf);
}

@font-face {
  font-family: "hindvadodara-semi", sans-serif;
  src: url(../fonts/hindvadodara-semibold.ttf);
}

a {
  text-decoration: none !important;
}

.size-initial {
  font-size: 16px;
}

.medium {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.17;
}

.uppercase {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.i-link {
  padding-bottom: 8px;
}

.align-center {
  text-align: center;
}



.bold {
  font-weight: bold;
  color: initial;
}