@import url("https://use.typekit.net/gaw5pec.css");



a {
  text-decoration: none !important;
}

.size-initial {
  font-size: 16px;
}

.medium {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.17;
}

.small {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.17;
}

.uppercase {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.i-link {
  padding-bottom: 16px;
  font-size: 16px;
}

.align-center {
  text-align: center;
}



.bold {
  font-weight: bold;
  color: initial;
}

.title-content {
  border-bottom: 1px solid #e8e9ec;
  padding-bottom: 14px;
  font-weight: 300;
}

.article {
  font-family: "Europa", sans-serif;
}
.article p {
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: 300;
  padding: 17px 0;
  margin: 20px 0;
  height: auto;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
}

.article h1 {
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.3em;
  letter-spacing: -0.02em;
  padding: 63px 0;
}

.hero-title {
  font-size: 56px;
  max-width: 50%;
}

.size-card {
  font-size: 18px;
  padding: 16px 24px;
}

.image-category {
  height: 110px;
  object-fit: cover;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.title-category {
  font-size: 32px;
  line-height: 1.25;
  margin: 0 0 10px 0px;
  font-weight: 300;
}

.group-title p {
  font-size: 18px;
}