.layout-form {
    height: 100%;
    background-color: #FFF;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 64px;

}

.layout-form-signup {
    background-color: #FFF;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 64px;


}
.alert {
        margin-bottom: 24px;
        background: white;
        padding: 12px 24px;
        border-radius: 6px;
        border: 1px solid #ff000021;
        background: #ff00000a;
        color: #b52f2fba;
    
}