.layout-form {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: #FFF;
}

.layout-form-signup {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 650px;
    background-color: #FFF;
}

.alert {
        margin-bottom: 24px;
        background: white;
        padding: 12px 24px;
        border-radius: 6px;
        border: 1px solid #ff000021;
        background: #ff00000a;
        color: #b52f2fba;
    
}