.layout-form {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 100vh;
    display: inline-table;

    background-color: #FFF;
}

.layout-form-signup {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 100vh;
    display: inline-table;
    background-color: #FFF;
}

.alert {
        margin-bottom: 24px;
        background: white;
        padding: 12px 24px;
        border-radius: 5rem;
        border: 1px solid #ff000021;
        background: #ff00000a;
        color: #b52f2fba;
    
}