






@media only screen and (max-width: 834px) {
    .k-grid {
      display: block;
    }.footer-grid {
      display: block;
    }.image-blog {
      width: 100%;
      margin: 0 auto;
      height: auto;
  }.article h1 {
      font-size: 32px;
      font-weight: bold;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
      line-height: 1.3em;
      letter-spacing: -0.02em;
      padding: 24px 0;
  } .grid-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    background: transparent;
  }.image-category {
    height: 85px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    border-radius: 6px 6px 0 0;
}.training-category {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 32px;
    background: transparent;
  }.name-category {
    text-align: left;
    font-size: 36px;
    color: black;
    padding: 24px;
    display: inline;
    background: white;
}.size-card {
  text-align: left;
  padding-left: 14px;
  padding-right: 0;

}
  }

  /* override styles when printing */
  @media print {
    
}





