
.p-i {
    padding: 0 24px;
  }
  
  .padding {
    padding: 24px;
  }
  .padding-content {
    padding-top: 64px;
    padding-bottom: 64px;
  }

.padding-min {
  padding: 15px;
}

.padding-min-recipe {
  padding: 24px;
}



