.r1 {
  border-radius: 1px;
}
.r2 {
  border-radius: 2px;
}
.r3 {
  border-radius: 3px;
}
.r4 {
  border-radius: 4px;
}
.r5 {
  border-radius: 5px;
}
.r6 {
  border-radius: 6px;
}

.r-10 {
  border-radius: 10px;
}


.r-10-card {
  border-radius: 10px 10px 0px 0px ;
}

