.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  background: transparent;
}

  @media only screen and (max-width: 834px) {
   
  }

  /* override styles when printing */
  @media print {
    
}





.k-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}