

.align-center {
    text-align: center;
}
.size-initial {
    font-size:16px;
}
.border-bottom { border-bottom: 1px solid rgba(0,0,0,.08); }
.border-top {
  border-top: 1px solid rgba(0,0,0,.08);
}

.uk-layout-form {  border: 1px solid #eaeaea;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 24px;
  max-width: 534px;
  margin: 0 auto; } 


.db {
  display: block;
}
.radius {
  border-radius: 2px;
}

.k-input {
  width: 100%;
  border: 1px solid #cacaca;
  padding: 14px;
  font-weight: 500;
  margin-bottom: 24px;
 
}

.button-submit {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  border-width: 1px;
  border-style: solid;
  background-color: #266abd;
  border-color: #266abd;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 22px;
  line-height: 1.5;
  padding: 14px !important;
  width: 100%;
  margin: 0 0 24px;
}
.medium {
    font-weight: 300;
    font-size: 24px;
line-height: 1.17;
}
.buttonGoogle {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: 600;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  background-color: #FFF;
  border-color: #FFF;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 22px;
  line-height: 1.5;
  padding: 14px !important;
  width: auto;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/G-on-white.svg) 16px center no-repeat;
  border: 1px solid #cacaca;
  margin: 0 0 24px;
}
.width-full {
    width: 100%;
}
.m-w {
  max-width: 1240px;

  margin: 32px auto;
}
.max-width {
  max-width: 1240px;

  margin: 0 auto;
}
.p-i {
  padding: 0 24px;
}

.bold {
  font-weight: bold;
  color: initial;
}
.card-shadow {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05) !important;
}
.k-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  background: transparent;
}
.i-link {
  padding-bottom: 8px;
}
.uppercase {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.margin-bottom {
  margin-bottom: 32px;
}
  @media only screen and (max-width: 834px) {
    .k-grid {
      display: block;
    }.footer-grid {
      display: block;
    }
  }

  /* override styles when printing */
  @media print {
    
}





