@import "../app/css/uikit.css";
@import "../app/css/uikit.min.css";
@import "../app/css/uikit-rtl.css";
@import "../app/css/uikit-rtl.min.css";

.border-bottom { border-bottom: 1px solid rgba(0,0,0,.08); }

.uk-layout-form {  max-width: 450px; margin: 36px auto;} 

.padding-initial {
  padding: 32px;
}

.radius {
  border-radius: 2px;
}

body {
  font-size: 14px !important;
}

.bold {
  font-weight: bold;
  color: initial;
}