@font-face {
  font-family: 'MyWebFont';
  src:  url('../fonts/CarnasLight.ttf') format('woff2'),
  url('../fonts/CarnasLight.ttf') format('woff');
}
.b-solid-top {
    border-top: 1px solid rgb(248, 248, 248);
  }
  .border {
    border: 1px solid rgb(248, 248, 248);

  }
  .b-solid-b {
    border-bottom: 1px solid rgb(248, 248, 248);
  }
  .fs-16 {
    font-size: 16.64px;
  }
  .fs-14 {
    font-size: 14.64px;
  }
  .p-32 {
    padding: 32px;
  }
  
  .p-32-0 {
    padding: 32px 0;
  }
  
  .p-0-24 {
    padding: 0 24px;
  }
  .blog p {
    font-size: 20px;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 0 80px;
    color: #484848 !important;
}.blog-title {
  font-size: 4rem;
  line-height: 8rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}
  .p-24 {
    padding: 24px;
  }
  .pr-15 {
    padding-right: 15px;
  }
  
  .mb-32 {
    margin-bottom: 32px !important;
  }
  
  .mb-15 {
    margin-bottom: 15px !important;
  }
  .align-right {
    text-align: right;
  }
  .c-g {
    color: #00758d !important;
  }
  .c-green {
    color: #00c099 !important;
    font-weight: normal !important;
}
.td-none {
  text-decoration: none;
}
.g-btn {
  background: #00909e;
  color: white !important;
  margin: 0 20px;
      margin-bottom: 0px;
  padding: 10px 18px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 16px;
}
.c-pink {
  color: #fe544b;
}
  .pt-15 {
    padding-top: 15px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .pr-5 {
    padding-right: 5px;
  }
  .pb-0 {
    padding-bottom: 0;
  }
  .pt-15 {
    padding-top: 15px;
  }
  .pb-15 {
    padding-bottom: 15px;
  }
  .p-160-0 {
    padding: 160px 0;
  }
  .p-120-0 {
    padding: 80px 0;
  }
  .p-100-0 {
    padding: 100px 0;
  }
  .w-50 {
    max-width: 50%;
    margin-top: -4px;
  }
  .mt-32 {
    margin-top: 32px !important;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .ml-15 {
    margin-left: 15px;
  }
  .i-link {
    color: initial;
    text-decoration: none;
  }
  
  .text-xl {
    font-size: 1.86rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .blogPost {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
  
  .rl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
  }
  .ingredientsList {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 32px;
  }
  .getBoosters {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
  .b-5rem {
    border-radius: 5rem;
  }
  .text-base {
    font-size: 16px !important;
  }
  
  .text-gray {
    color: rgb(143, 149, 161) !important;
  }
  
  .justify {
    text-align: justify;
  }
  .icon {
    border-radius: 0;
    font-family: "MyWebFont";
    color: initial !important;
    font-size: 36px;
}
  
  .shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  }
  
  .rounded {
    border-radius: 0.25rem !important;
  }
  
  .p-i {
    padding: 20px;
  }
  .p-i-2 {
    padding: 20px 15px;
  }
  .p-15 {
    padding: 15px;
  }
  .p-10 {
    padding: 10px;
  }
  .m-w {
    max-width: 1280px;
    margin: 0 auto;
  }
  .i-t {
    border-bottom: 1px solid rgba(217, 219, 224, 0.5);
    padding-bottom: 16px;
  }
  .t-d {
    font-weight: 500;
    color: #00aa71;
  }
  .mt-10-b {
    margin-top: 10px;
    display: grid;
  }
  .mt-10 {
    margin-top: 10px;
    display: grid;
  }
  .bg-g {
    padding: 6px 12px;
    float: left;
  
    background: #e5f5f2;
    border-radius: 0;
  }
  .bg-blue {
    padding: 6px 12px;
    float: left;
    background: #22527A  !important;
    border-radius: 2px;
    color: white !important;
}.border-c {

  border: 1px solid rgba(217, 219, 224, 0.5);

}.text-white {
  color: white;
}
.rounded-8 {
  border-radius: 8px 8px 0 0;
}
.d-grid {
  display: grid;
}
.d-table {
  display: table;
}
.flex {
  display: flex;
}
.tfd {
  display: grid;
}
.ir-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}
.fs-42 {
  font-size: 42px;
}
.w-80 {
  width: 80%;
}
.b-b-blue {
  border-bottom: 1px solid #109db9 !important;
}
  .bg-w-c {
    padding: 16px 20px;
    float: left;
    background: #fcfcfc;
    border-radius: 0;
  }
  .bg-fc {
    background: #fcfcfc;
  }
  .fs-36 {
    font-size: 36px;
  }
  .fs-32 {
    font-size: 32px;
  }
  .fs-18 {
    font-size: 18px;
  }
  .mask-thumb-h {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(7, 7, 7, 0.47));
    z-index: 1;
    display: block;
    padding-top: 70px;
  }
  .c-t {
    color: white;
    font-size: 24px;
    padding: 32px;
  }
  .orange-btn {
    background: #ef7044;
    color: white;
    border: transparent;
    width: 100%;
    padding: 10px 16px;
    border-radius: 2px;
  }
  .p-16-20 {
    padding: 16px 20px;
  }
  .sd-btn {
    border: transparent;
    width: 100%;
    padding: 0px 20px;
    border-radius: 2px;
    background: transparent;
    text-align: left;
}
.align-left {
  text-align: left;
}

.w-325 {
  width: 300px;
}
  .db {
    display: block;
    width: 100%;
  }
  .tfd {
    text-align: center;
    font-size: 16px;
    display: grid;
  }
  .pt-0 {
    padding-top: 0;
  }
  .pt-0 {
    padding-top: 0 !important;
  }
  .p-0-32 {
    padding: 32px 0;
  }
  .pt-32 {
    padding-top: 32px;
  }
  .pb-32 {
    padding-bottom: 32px;
  }
  .tl {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 15px;

  }
  .w-screen {
    background-image: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);    
    
    
    
    
    background-size: cover;
    background-position: bottom;
    color: white;
  }
  .d-table {
    display: table;
  }
  .blue {
    background: 
    #1c4c74  !important;
    
  }
  .c-w {
    color: #fcb82bcf;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .bg-w {
    background: white;
  }
  .border_b {
    border-bottom: 4px solid black;
  }
  .pb-4 {
    padding-bottom: 4px;
  }
  .pb-8 {
    padding-bottom: 8px;
  }
  .mask-thumb {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    z-index: 1;
    display: block;
  }
  .initial {
    font-weight: normal;
  }
  .w-391 {
    width: 391px;
}
  .p-h {
    padding-top: 80px;
    padding-bottom: 51px;
  }
  .br-1 {
    border-right: 1px solid #f8f8f8;
  }
  .ml-i-8 {
      margin-left: -8px;
  }
  .fs-6rem {
    font-size: 6rem;
  }
  .pb-0 {
    padding-bottom: 0;
  }
  .mt-1 {
    margin-top: 1px !important;
    display: grid;
  }
  .mt-1-s {
    margin-top: 1px !important;
    display: flow-root;
  }


  
  .mt_i5 {
    margin-top: -5px;
  }
  .mb-1 {
    margin-bottom: 1px;
  }
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    background-color: #fff;
  }
  .link a {
    color: black;
  }
  .fl-r {
    float: right;
  }
  .dn {
    display: none;
  }
  .bg-gray {
    background: #FAFAFA;
    color: initial;
  }
  .bg-green {
    background: #00c099 !important;
    color: white;
  }

.p-8 {
  padding: 8px;
}
  .align-right {
    text-align: right;
  }
  .align-left {
    text-align: left;
  }
  .nav {
    max-width: 1205px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    z-index: 101;
    @media only screen and (max-width: 480px) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .sr-cards {
    grid-gap: 32px;
    display: flex;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 60px;
    padding-bottom: 10px;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
  .m-w-780 {
    max-width: 780px;

  }
.mt-32 {
  margin-top: 32px !important;
}
.p-20 {
  padding: 20px !important;
}
  .m-w-100p100 {
    width: 100%;
    height: 100%;
    
  }
  .row {
    display: flex;
    grid-gap: 32px;
    padding: 20px;
}
  ::marker {
    color: initial;
    font-weight: bold;
    font-size: 18px;
  }


  @media only screen and (max-width: 630px) {


  .mediaLR {
    width: auto !important;
    height: 230px !important;
    border-radius: 2px;
    border-radius: 0px;
  }
}


  @media only screen and (max-width: 834px) {
    html {
      font-size: 100%;
    }
    .p-0-32 {
      padding: 0;
    }
    body {
      background: #FFF;
    }
    .blogPost-mobile {
      display: block;
    }
    .rl-mobile {
      display: block;
    }
    .rl-mobile {
      display: block;
    }
   
    .sr-cards {
      grid-gap: 32px !important;
    }
    .mediaLR {
      width: auto !important;
      height: 520px ;
      border-radius: 2px;
      border-radius: 0px;
  }
    .mr-32 {
      margin-right: 32px;
    }
    .mb-20 {
      margin-bottom: 20px !important;
    }
    .w-50 {
      font-size: 28px;
      max-width: 100%;
      margin-top: -4px;
    }
    .fs-6rem {
      font-size: 3rem;
    }
    .p-120-0 {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    .p-160-0 {
      padding: 60px 0;
    }.row {
      display: block !important;
      grid-gap: 0;
      padding: 0;
  }.ir-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }.m-w-780 {
    max-width: 100%;
  }
  }
  
  /* override styles when printing */
  @media print {
    body {
      margin: 0;
      padding: 0;
      box-shadow: none !important;
    }
    footer {
      display: none !important;
    }
    header {
      display: none !important;
    }
    .fs-6rem {
      font-size: 24px;
      margin: 0;
      padding: 0;
    }
    .p-h {
      padding: 0;
    }
    .direction {
      font-size: 14px;
    }
    .ingr_media {
      display: none;
    }
    .boosters {
      display: none;
    }
    .ingr_mediap {
      display: none;
    }
    ._print_w {
      min-width: 160px;
      margin-bottom: 0;
      padding: 0;
    }
    .p-0-32 {
      padding: 0;
    }
    .dn {
      display: grid;
      max-width: 250px;
      float: right;
    }

    .sticky {
      background: transparent;
    }
 
    .mr-p {
      margin-right: 50px;
    }
    .m-w {
      width: 100%;
    }
    .sr-cards {
      padding: 0;
      margin: 0;
    }
    .p-i {
      padding: 0;
    }
    .bg-w-c {
      padding: 0;
    }
    .sr-cards {
      display: flow-root;
    }
    .ns-print {
      box-shadow: none !important;
    }.recipe__directions li::before {
      content: counter(directions);
      color: #ddd;
      font-size: 24px;
      line-height: 0.3em;
      width: 96px;
      text-align: right;
      left: -65px;
      position: absolute;
      top: 23px;
    }.recipe__directions li {
      padding: 0 0 48px 110px;
      min-height: 0;
    }
    .recipe__directions li {
      padding: 11px 7px 50px 69px;
      counter-increment: directions;
      position: relative;
    }
  }